*{
	font-family: Arial;
	font-size: 14px;

}
.total{ width:794px; height:1300px; margin:auto; background: white; border: 5px solid orange;}
.top{ width:100%; height:505px; float: left; }
.top_duoi{ width:100%; height:36px;float: left; background:#696969; color:orange; margin: 0px; padding: 0px;}
.top_hr{width: 100%; height: 10px; float: left;}
.top_main{width: 100%; height: 705px; float: left;}
.left{ width:150px; height: 700px; float:left; background:white; padding-top:10px; clear: both;}
.left2{width: 150px; height: 140px;float: left; color: black; border: 1px;}
.left3{width: 150px; height: 190px;float: left; color: black}
.center{ width:490px; height:710px; float:left;}
.center2{width:465px; height: 80px; float: left; background-color: #FFCC66; border-radius: 9%; margin: auto; color: white; margin: 12px;}
.center3{width: 490px; height: 100px; float: left; background: white;}
.right{ width:150px; height:700px; float:right; background:white; padding-top:10px; }
.right2{width: 150px; height: 100px; float: left; color: black; border: 0px;padding: 0px;}
.right3{width: 150px; height: 180px; float: left; color: black}
.right_duoi{ line-height: 40px; width:794px; height:40px; background:#696969;  font-size: 18px; float: left;}
.top_duoi ul{ list-style:none}
.top_duoi ul li{ display:inline; text-align:right;}
.top_duoi ul li a{ display:inline; text-decoration:none; background:#696969; width: 100px; float:left; color:orange;}
.top_duoi a:hover { font-weight:bold; color:#cf0; text-decoration: underline;}
.top_duoi a:active {color:#cf0;}
tr td{
	border: 1px;
	padding: 3px;
}

a:hover{
	color: orange;
}
body{
	background-image: url(image/tuyet.jpg);
	
}
.crl{ clear:both}
