html,body{
	margin: 0px 0px 0px 0px;
}
.total{
	width: 100%;
	height: 100%;
	background-color: #ebe6e661;

}
.banner{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-image: url(image/banner.jpg);
	background-size:cover;
	background-position: center center;
}
.bg{
	width: 100%;
	height: 500px;
	background-color: #ddddddbf;
}
.menu-bn ul{
	float: right;
	padding: 0px 50px 0px 0px;
	position: relative;
	margin: 0px 0px 0px 0px;
}
.menu-bn ul li{
	list-style: none;
	float: left;
	width: 100px;
	color: black;
	font-weight: bold;
	margin: 20px 0px 0px 0px;
	font-size: 12px;
}
.menu-bn ul li:hover{
	color: orange;
	text-decoration: underline;
}
.menu-li{width: 120px;}
.bg-span{
	width: 200px;
	margin: 20px 0px 10px 50px;
	padding: 50px 0px 0px 50px;
	font-size: 30px;color: #1111f5;
}
.p1{
	margin: 120px 0px 0px 100px;
	font-size: 60px;
}
.p2{
	margin: 0px 0px 0px 100px;
	font-size: 17px;
}



.center{
	width: 80%;
	height: 500px;
	margin: auto;
	background-color: ;
}
.center-1{
	width: 60%;
	height: 450px;
	float: left;
}
.p3{
	font-size: 40px;
	margin: 80px 0px 0px 0px;
}
.p4{
	width: 150px;
	height: 45px;
	background-color: #3535e3cc;
	font-size: 18px;
	line-height: 45px;
	text-align: center;
	border-radius: 5%;
	margin: 18px 0px 0px 10px;
	color: white;
}
.center-2{
	width: 40%;
	height: 450px;
	float: left;
}
.ct-img{width: 390px;height: 390px;margin: 50px 10px 10px 20px;box-shadow: 0px 0px 10px black}
.banner3{
	width: 80%;
	height: 500px;
	margin: auto;
}
.bn3-p{
	font-size: 95px;text-align: center;position: relative;margin: 0px 0px 0px 0px;font-weight: bold;color: #cecccca8;}
}
.div-top-1{
	width: 100%;
	height: 100px;
}
.div-top-2{
	width: 100%;
	height: 300px;
}
.div-top-2-1{
	width: 32%;
	height: 300px;
	float: left;
	margin: 0px 10px 0px 0px;
	background-color: #c4dce55e;
	box-shadow: 0px 0px 10px #00000087;
}
.div-dg{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #0000ff8f;
	margin: 20px 122.5px 0px 122.5px;
}
.div-top-2-2{
	width: 32%;
	height: 300px;
	float: left;
	margin: 0px 10px 0px 10px;
	background-color: #c4dce55e;
	box-shadow: 0px 0px 10px #00000087;
}
.div-dl{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #0000ff8f;
	margin: 20px 122.5px 0px 122.5px;
}
.div-top-2-3{
	width: 32%;
	height: 300px;
	float: left;
	margin: 0px 0px 0px 10px;
	background-color: #c4dce55e;
	box-shadow: 0px 0px 10px #00000087;
}
.div-sp{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #0000ff8f;
	margin: 20px 122.5px 0px 122.5px;
}
.banner4{
	width: 100%;
	height: 350px;
	background-color: #c4dce55e;
	box-shadow: 0px 10px 0px #95d7ef4d;
}
.banner4-1{
	width: 80%;
	height: 100%;
	margin: auto;
}
.bn-div1{
	width: 23%;
	height: 230px;
	margin: 60px 10px 10px 0px;
	float: left;border:0.8px dashed #3939b5;
}
.bn-div2{
	width: 24%;
	height: 230px;
	margin: 60px 10px 10px 10px;
	float: left;
	border:0.8px dashed #3939b5;
}
.bn-div3{
	width: 23%;
	height: 230px;
	margin: 60px 10px 10px 10px;
	float: left;
	border:0.8px dashed #3939b5;
}
.bn-div4{
	width: 23%;
	height: 230px;
	margin: 60px 0px 10px 10px;
	float: left;
	border:0.8px dashed #3939b5;
}
.banner5{
	width: 100%;
	height: 950px;
}
.banner5>ul{
	width: 43%;
	height: 60px;
	position: relative;
	bottom: 100px;
	margin: auto;
	padding:0px 0px 0px 0px;
}
.banner5>ul li{
	list-style: none;
	float:left;
	width: 110px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0px 10px 0px 0px;
	border:1px solid blue;
	border-radius: 37%;
	color: blue;
	font-size: 17.5px;
}
.div-bc{
	width: 100%;
	height: 650px;
	margin: auto;
	position: relative;
	bottom: 100px;
}
.div-bc-1{
	width: 50%;
	height: 50%;
	float: left;
}
.div-bc-2{
	width: 50%;
	height: 50%;
	float: left;
}
.div-bc-3{
	width: 50%;
	height: 50%;
	float: left;
}
.div-bc-4{
	width: 50%;
	height: 50%;
	float: left;
}
.img-div{width: 674.5px;height: 325px;}
.banner6{
	width: 80%;
	height: 650px;
	margin: auto;
}
.bocuc-1{
	width: 32%;
	height: 420px;
	float: left;
	margin: 0px 10px 0px 0px;
	position: relative;
	bottom: 100px;
}
.bocuc-1-1{
	width: 100%;
	height: 50%;
	float: left;
}
.bocuc-1-2{
	width: 100%;
	height: 50%;
	float: left;
	background-color: white;
}

.bocuc-2{
	width: 32%;
	height: 420px;
	float: left;
	margin: 0px 10px 0px 10px;
	position: relative;bottom: 100px;
}
.bocuc-2-1{
	width: 100%;
	height: 50%;
	float: left;
}
.bocuc-2-2{
	width: 100%;
	height: 50%;
	float: left;
	background-color: white;
}
.bc2-img{width: 345px;height: 210px;}
.bc2-p{background-color: #0000ffba;width: 345px;height: 40px;margin: 0px 0px 0px 0px;text-align: center;}
.bocuc-3{
	width: 32%;
	height: 420px;
	float: left;
	margin: 0px 0px 0px 10px;
	position: relative;
	bottom: 100px;
}
.bocuc-3-1{
	width: 100%;
	height: 50%;
	float: left;
}
.bocuc-3-2{
	width: 100%;
	height: 50%;
	float: left;
	background-color: white;
}
.banner7{
	width: 100%;
	height: 350px;
	background-color: #c4dce55e;
	box-shadow: 0px 10px 0px #95d7ef4d;
}
.banner7-trong{
	width: 80%;
	height: 340px;
	margin: auto;
}
.banner7-trong-1{
	width: 23%;
	height: 300px;
	float: left;
	margin: 0px 10px 0px 0px;
}
.banner7-trong-2{
	width: 24%;
	height: 300px;
	float: left;
	margin: 0px 10px 0px 10px;
}
.banner7-trong-3{
	width: 23%;
	height: 300px;
	float: left;
	margin: 0px 10px 0px 10px;
}
.banner7-trong-4{
	width: 24%;
	height: 300px;
	float: left;
	margin: 0px 0px 0px 10px;
}
.p5{text-align: center;}
.banner8{
	width: 60%;
	height: 550px;
	margin: auto;
}
.bn8-p1{text-align: center;font-size:40px;color: blue;margin: 70px 0px 0px 0px;font-weight: bold;}
.text{width: 330px;height: 50px;border: 1px solid black;margin: 50px 40px 0px 30px;border-radius: 3.5%;}
.text2{margin: 50px 0px 20px 30px;border-radius: 2%}
.banner9{
	width: 100%;
	height: 150px;
	background-color: #c4dce55e;
}
.icon{
	width: 30px;
	height: 30px;
	margin: 30px 10px 0px 0px;
	font-size: 25px;
	background-color: #3b3bdef0;
	color: white;
	border-radius: 50%;
	line-height: 30px;
}


