
@media screen and (min-width: 321px) and (max-width: 768px){
	body{
		margin: 0px 0px 0px 10px;
		padding-left: 0px;
		background-color:  #f1eded;
	}
	.total{
		height: 9805px;
		background-color: white;
	}
	.top{
		width: 100%;
		text-align: center;
		height: 60px;
	}
	.top ul{
		text-align: center;
		padding: 0px 0px 0px 0px;
	}
	.top-bg{
		width: 100%;
		text-align: center;
		height: 200px;
	}
	.bg-nen{
		width: 100%;
		text-align: center;
	}
	.bg-bottom{display: none;}
	.bg-bottom-l{display: none;}
	.bg-bottom-ct{display: none;}
	.bg-bottom-r{display: none;}
	.total-anh{
		width: 100%;
		text-align: center;
		height: 1620px;
	}
	.total-anh-1{
		width: 100%;
		text-align: center;
		margin-right: 0px;
		height: 470px;
	}
	.total-anh-2{
		width: 98%;
		text-align: center;
		height: 470px;
	}
	.total-anh-3{
		width: 98%;
		text-align: center;
		height: 470px;
	}
	.bg{
		width:100%;
		text-align: center;
	}
	.bg-center{
		width: 100%;
		text-align: center;
		float: left;
		margin: 0px 0px 0px 0px;
	}
	.bg-qc{
		width: 100%;
		text-align: center;
		height: 1500px;
	}
	.bg-qc-center{
		width: 100%;
		text-align: center;
		float: left;
		margin: 0px 0px 0px 0px;
	}
	.bg-qc-left{
		width: 100%;
		text-align: center;
		height:  ;
	}
	.bg-qc-left-1{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-1-1{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-1-2{
		width: 100%;
		text-align: center; 
	}
	.bg-qc-left-2{
		width: 100%;
		text-align: center; 
	}
	.bg-qc-left-2-1{
		width: 100%;
		text-align: center; 
	}
	.bg-qc-left-2-2{
		width: 100%;
		text-align: center; 
	}
	.bg-qc-left-3{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-3-1{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-3-2{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-4{
		width: 100%;
		text-align: center; 
	}
	.bg-qc-left-4-1{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-4-2{
		width: 100%;
		text-align: center; 
	}
	.bg-qc-left-5{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-5-1{
		width: 100%;
		text-align: center;
	}
	.bg-qc-left-5-2{
		width: 100%;
		text-align: center;
	}
	.bg-qc-cuoi{
		width: 100%;
		text-align: center;
		margin: 0px 0px 0px 0px;
	}
	.total5_1_1_6{display: none;}
	.bg-qc-right-1{display: none;}
	.total5_1_2_1{display: none;}

	.total-video{
		width: 100%;
		text-align: center;
		height: 450px;
	}
	.div-video-1{width: 500px}
	.div-video-2{display: none;}
	.div-video-3{display: none;}
	.div-video-4{display: none;}

	.div-bang-gia{
		width: 100%;
		text-align: center;
		height: 1740px;
		background-color: #f1eded;
	}
	.bg-sanpham-1{
		width: 100%;
		margin: 20px 0px 0px 0px;
	}
	.bg-sanpham-2{
		width: 100%;
		margin: 50px 00px 0px 0px;
	}
	.bg-sanpham-3{
		width: 100%;
		margin: 50px 0px 0px 0px;
	}

	.sanpham{
		width: 100%;
		text-align: center;
		height: 1300px;
	}
	.sp-center{
		width: 100%;
		text-align: center;
	}
	.info-sp{
		width: 480px;
		height: 250px;
		float: left;
	}
	.sp-right{
		width: 480px;
		text-align: center;
		height: 250px;
	}
	.div-sp-right-1{
		width: 480px;
		text-align: center;
		height: 250px;
	}
	.div-sp-right-1-1{
		width: 480px;
		text-align: center;
		height: 250px;
		margin: 20px 0px 20px 0px;
	}
	.div-sp-right-1-2{
		width: 480px;
		text-align: center;
		height: 250px; 
		margin: 20px 0px 20px 0px;
	}
	.div-sp-right-1-3{
		width: 480px;
		text-align: center;
		height: 250px;
		margin: 20px 0px 20px 0px;
	}
	.div-sp-right-2{display: none;}

	.info-jonny{
		width: 500px;
		height: 500px;
	}
	.info-jonny-1{
		width: 500px;
		height: 500px;
	}

	.p1{display: none;}

	.total10{width: 480px;height: 480px;text-align: center;}
	.dl{display: none;}
	.nhan-vien{
		width: 480px;
		text-align: center;
		height: 450px;
	}
	.nhan-vien-1{
		width: 480px;
		text-align: center;
		height: 400px;
	}
	.nhan-vien-2{display: none;}
	.nhan-vien-3{display: none;}
	.nhan-vien-4{display: none;}

	.total11{
		width: 605px;
		height: 850px;
		margin: 0px 0px 0px 0px;
	}
	.total-center{
		width: 600px;
		height: 600px;
		margin: 0px 0px 0px 0px;
	}
	.tin-noi-bat{
		width: 400px;
		height: 400px;
		float: left;
	}
	.menu{width: 114px;
		height: 350px;
	}
	.email{
		width: 114px;
		height: 350px;
	}
	.search{
		width: 114px;
		height: 350px;
	}
	.nv-email{
		width: 114px;
		height: 350px;
	}
	
	.tin-noi-bat-{
		width: 400px;
		height: 150px;
		margin: 100px 0px 0px 0px;
	}

	.nv-2{display: none;}
	.nv-1{display: none;}
	.menu-con-bg{display: none;}
	.menu-con-hr{display: none;}

	.total12{width: 100%;text-align: center;}

}


@media screen and (max-width: 320px){
	.total{
		width: 100%;
		height: 7582px;
	}
	.top{
		width: 100%;
		height: 50px;
	}
	#top{width: 280px;height: 50px;text-align: center;}
	.top ul{display: none;}
	.top-bg{display: none;}
	.total-anh{
		width: 100%;
		height: 1400px;
	}
	.total-anh-3{
		width: 292px;
		height: 410px;
		text-align: center;
	}
	.total-anh-2{
		width: 292px;
		height: 410px;
		text-align: center;
	}
	.total-anh-1{
		width: 288px;
		height: 450px;
		text-align: center;
		margin: 00px 20px 0px 0px;
	}
	
	.bg{width: 305px;
		height: 350px;
		text-align: center;
	}
	.bg-center{
		width: 302px;
		height: 250px;
		background-image: url(img/quytoc.jpg);
		background-size: cover;
		margin: 0px 0px 0px 0px;
	}
	.bg-qc{width: 100%;
		height: 1200px;
	}
	.bg-qc-right-1{display: none;}
	.bg-qc-center{
		width: 250px;
		height: 1200px;
	}
	.bg-qc-left{
		width: 250px;
		height: 1200px;
		float: left;
	}


	.total-video{
		width: 100%;
		height: 420px;
	}
	.div-video{
		width: 100%;
		height: 400px;
	}
	.div-video-1{
		width: 300px;
		height: 200px;
		margin: 0px 0px 0px 0px;
	}
	.div-video-2{display: none;}
	.div-video-3{display: none;}
	.div-video-4{display: none;}

	.div-bang-gia{
		width: 100%;
		height: 1450px;
	}
	.bg-sanpham-1{
		width: 100%;
		height: 480px;
		margin: 0px 0px 0px 0px;
	}
	.bg-sanpham-2{
		width: 100%;
		height: 480px;
		margin: 0px 0px 0px 0px;
	}
	.bg-sanpham-3{
		width: 100%;
		height: 480px;
		margin: 0px 0px 0px 0px;
	}

	.sanpham{
		width: 100%;
		height: 1200px;
	}
	.sp-center{
		width: 305px;
		height: 250px;
		margin-left: 0px;
	}
	.p1{display: none;}
	.sp-right{
		width: 80%;
		height: 900px; 
		margin: 0px 0px 0px 40px;
	}
	.div-sp-right-1{
		width: 210px;
		height: 900px;
		margin: 0px 0px 0px 0px;
		float: left;
	}
	.div-sp-right-1-1{
		width: 100%;
		height: 270px;
		margin: 0px 0px 0px 0px;
	}
	.div-sp-right-1-2{
		width: 100%;
		height: 270px;
		margin: 0px 0px 0px 0px;
	}
	.div-sp-right-1-3{
		width: 100%;
		height: 270px;
		margin: 0px 0px 0px 0px;
	}
	.div-sp-right-2{display: none;}

	.info-jonny{display: none;}
	.info-jonny-1{display: none;}

	.total10{
		width: 100%;
		height: 510px;
	}
	.dl{display: none;}
	.title{width: 100%;height: 500px;margin: 0px 0px 0px 0px;}
	.nhan-vien{
		width: 100%;
		height: 500px;
		margin: 0px 0px 0px 0px;
	}
	.nhan-vien-1{
		width: 100%;
		height: 490px;
		margin: 0px 0px 10px 0px;
	}
	.nhan-vien-2{display: none;}
	.nhan-vien-3{display: none;}
	.nhan-vien-4{display: none;}
	


	.total11{
		width: 100%;
		height: 800px;
	}
	.total11-center{
		width: 270px;
		height: 500px;
		margin: 0px 0px 0px 0px;
	}
	
	.total-center{
		width: 100%;
		height: 500px;
		margin: 0px 0px 0px 0px;
	}
	.tin-noi-bat{
		width: 250px;
		height: 400px;
		float: left;
		margin: 0px 0px 0px 0px;
	}
	.menu{
		width: 110px;
		height: 350px;
		margin: 0px 0px 0px 0px;
	}
	.email{
		width: 114px;
		height: 350px;
	}
	.search{
		width: 114px;
		height: 350px;
		margin: 0px 0px 0px 0px;
	}
	.nv-email{
		width: 114px;
		height: 350px;
	}

	.nv-email{display: none;}
	.menu-con-bg{display: none;}
	
	.total12{
		width: 305px;
		height:180px;
	}


}
/*@media screen and (max-width: 1024px){
	.total4_1{width: 820px;height: 350px;margin: 0px 0px 0px 0px}
}*/