
.total{width: 80%; height: 6000px; background-color: #f1eded ;margin: auto;}
.total1{width: 100%;height: 100px; background-color: #d6d6be33;}
.total1 ul{list-style: none; padding: 30px 0px 0px 150px}
.total1 ul li{width: 100px; float: left;text-align: center;font-size: 18px; color: black;}
.total2{width: 100%; height: 350px; background-color: yellow; background-image: url(img/10334506213_f571b7dcf9_o-1700x450.jpg);background-size: cover;}
.total2_1{width: 100%;height: 250px;float: left;}
.total2_2{width: 100%;height: 100px;float: left;}
.total2_2_1{width: 35%;height: 100%;float: right;}
.total2_2_1_1{width: 20%;height: 80%;float: left;}
.total2_2_1_2{width: 80%;height: 72px;float: left; padding-top: 10px}
.total2_2_2{width: 30%;height: 100%;float: right;}
.total2_2_2_1{width: 20%;height: 80%;float: left;}
.total2_2_2_2{width: 80%;height: 72px;float: left; padding-top: 10px}
.total2_2_3{width: 30%;height: 100%;float: right; }
.total2_2_3_1{width: 20%;height: 80%;float: left;}
.total2_2_3_2{width: 80%;height: 72px;float: left; padding-top: 10px}
.total3{width: 100%;height: 480px;}
.total3_1{width: 29%;height: 90%;float: right;margin:30px 65px 0px 10px;background-color: white}
.total3_2{width: 28%;height: 90%;float: right;margin:30px 10px 0px 10px;background-color: white}
.total3_3{width: 28%;height: 90%;float: right;margin:30px 10px 0px 10px;background-color: white}
.total4{width: 100%;height: 350px;}
.total4_1{width: 946px;height: 100%;margin: 10px 50px 10px 56px;background: url(img/quytoc.jpg); background-size: cover;}
.total5{width: 100%;height: 1210px;}
.total5_1{width: 946px;height: 100%;margin:20px 50px 10px 56px;}
.total5_1_1{width: 25%;height: 100%;float: left;}
.total5_1_1_1{width: 100%;height: 70px;}
.total5_1_1_1_1{width: 20%;height: 100%;float: left;}
.total5_1_1_1_2{width: 80%;height: 100%;float: left;}
.total5_1_1_2{width: 100%;height: 70px;}
.total5_1_1_2_1{width: 20%;height: 100%;float: left;}
.total5_1_1_2_2{width: 80%;height: 100%;float: left;}
.total5_1_1_3{width: 100%;height: 70px;}
.total5_1_1_3_1{width: 20%;height: 100%;float: left;}
.total5_1_1_3_2{width: 80%;height: 100%;float: left;}
.total5_1_1_4{width: 100%;height: 70px;}
.total5_1_1_4_1{width: 20%;height: 100%;float: left;}
.total5_1_1_4_2{width: 80%;height: 100%;float: left;}
.total5_1_1_5{width: 100%;height: 120px;}
.total5_1_1_5_1{width: 20%;height: 70%;float: left;}
.total5_1_1_5_2{width: 80%;height: 70%;float: left;}
.total5_1_1_6{width: 100%;height: 700px;; margin-top: }
.total5_1_1_6_1{width: 100%;height: 93%; background-color: white}
.total5_1_1_6_1_1{width: 100%;height: 370px;float: left;}
.total5_1_1_6_1_1_1{width: 100%;height: 170px;float: left;}
.total5_1_1_6_1_1_2{width: 100%;height: 200px;float: left;}
.total5_1_1_6_1_1_2_1{width: 85%;height: 230px;float: left;background-color: white;margin: -30px 15px 0px 15px}
.total5_1_1_6_1_2{width: 100%;height: 100px;float: left;}
.total5_1_1_6_1_3{width: 100%;height: 100px;float: left;}
.total5_1_2{width: 75%;height: 97%;float: left}
.total5_1_2_1{width: 95%;height: 28%; margin: 10px 0px 20px 20px}
.total5_1_2_1_1{width: 60%;height: 100%;float: left;}
.total5_1_2_1_2{width: 40%;height: 60%;float: left;margin: 60px 0px 20px -30px; background-color: white}
.total5_1_2_2{width: 95%;height: 29%; margin: 10px 0px 20px 20px;}
.total5_1_2_2_1{width: 60%;height: 100%;float: left; }
.total5_1_2_2_2{width: 40%;height: 60%;float: left;margin: 60px 0px 20px -30px; background-color: white}
.total5_1_2_3{width: 95%;height: 29%; margin: 10px 0px 20px 20px;}
.total5_1_2_3_1{width: 60%;height: 100%;float: left; }
.total5_1_2_3_2{width: 40%;height: 60%;float: left;background-color: white;margin: 60px 0px 20px -30px}

.total6{width: 100%; height: 400px;background-color: #000000e6;}
.total6_1{width: 95%;height: 250px;margin: auto;}
.total6_1_1{width: 22%;height: 100%;margin: 0px 10px 0px 20px;float: left;}
.total6_1_2{width: 22%;height: 100%;margin: 0px 10px 0px 10px;float: left;}
.total6_1_3{width: 23%;height: 100%;margin: 0px 10px 0px 10px;float: left;}
.total6_1_4{width: 22%;height: 100%;margin: 0px 10px 0px 10px;float: left;}

.total7{width: 100%;height: 600px}
.total7_1{width: 26%; height: 490px; float: left;background-color: white;margin: 70px 23px 0px 60px }
.total7_1_1{width: 90%;height: 40px; margin: auto}
.total7_1_2{width: 90%;height: 130px; margin: auto;}
.total7_1_3{width: 90%;height: 250px; margin: auto;}
.total7_2{width: 27%; height: 550px; float: left;background-color: white;margin: 40px 13px 0px 20px}
.total7_2_1{width: 90%;height: 50px; margin: auto}
.total7_2_2{width: 90%;height: 130px; margin: auto;}
.total7_2_3{width: 90%;height: 250px; margin: auto;}
.total7_3{width: 27%; height: 490px; float: left;background-color: white;margin: 70px 10px 0px 30px}
.total7_3_1{width: 90%;height: 40px; margin: auto}
.total7_3_2{width: 90%;height: 130px; margin: auto;}
.total7_3_3{width: 90%;height: 250px; margin: auto;}

.total8{width: 100%;height: 650px}
.total8_1{width: 88%;height: 650px;margin: 0px 60px 0px 58px;}
.total8_1_1{width: 25%;height: 90%;float: left;margin: 30px 10px 10px 0px}
.total8_1_2{width: 72.5%;height: 90%;float: left; margin:30px 0px 0px 10px}
.total8_1_2_1{width: 100%;height: 300px;float: left;}
.total8_1_2_1_1{width: 31%;height: 250px;float: left;margin: 0px 10px 10px 0px}
.total8_1_2_1_2{width: 31%;height: 265px;float: left;margin: 0px 10px 10px 10px}
.total8_1_2_1_3{width: 31%;height: 250px;float: left;margin: 0px 0px 10px 10px}
.total8_1_2_2{width: 100%;height: 300px;float: left;}
.total8_1_2_2_1{width: 31%;height: 300px;float: left;margin: 0px 10px 10px 0px}
.total8_1_2_2_2{width: 31%;height: 300px;float: left;margin: 0px 10px 10px 10px}
.total8_1_2_2_3{width: 31%;height: 300px;float: left;margin: 0px 0px 10px 10px}

.total9{width: 100%;height: 450px}
.total9_1{width: 87%;height: 100%;margin: 0px 58px 0px 58px;border: 1px solid #b37e1ddb}
.total9_1_1{width: 100px;height: 100px;margin: auto; background-image: url(img/team-8-100x100.jpg);border-radius: 50%}
.total10{width: 100%;height: 650px;}
.total10_1{width: 87%;height: 100%;margin: 0px 58px 0px 58px;}
.total10_1_1{width: 100%;height: 500px}
.total10_1_1_1{width: 22%;height: 90%; float: left;margin: 20px 20px 0px 10px;background-color: white}
.total10_1_1_2{width: 22%;height: 90%; float: left;margin: 20px 20px 0px 10px;background-color: white}
.total10_1_1_3{width: 22%;height: 90%; float: left;margin: 20px 20px 0px 10px;background-color: white}
.total10_1_1_4{width: 23%;height: 90%; float: left;margin: 20px 0px 0px 10px;background-color: white}

.total11{width: 100%;height: 500px;background-color: black}
.total11_1{width: 87%;height: 100%;margin: 0px 58px 0px 58px;}
.total11_1_1{width: 22%;height: 90%;margin: 50px 20px 0px 10px;float: left;}
.total11_1_1_1{width: 47%;height: 48%;margin: 0px 10px 0px 0px;float: left;}
.total11_1_1_2{width: 47%;height: 48%;margin: 0px 0px 0px 0px;float: left;}
.total11_1_1_3{width: 47%;height: 48%;margin: 0px 10px 0px 0px;float: left;}
.total11_1_1_4{width: 47%;height: 48%;margin: 0px 0px 0px 0px;float: left;}

.total11_1_2{width: 22%;height: 90%;margin: 50px 20px 0px 10px;float: left;}
.total11_1_2_1{width: 47%;height: 48%;margin: 0px 10px 0px 0px;float: left;}
.total11_1_2_2{width: 47%;height: 48%;margin: 0px 0px 0px 0px;float: left;}
.total11_1_2_3{width: 100%;height: 48%;margin: 0px 0px 0px 0px;float: left;}

.total11_1_3{width: 22%;height: 90%;margin: 50px 20px 0px 10px;float: left;}
.total11_1_3_1{width: 47%;height: 48%;margin: 0px 10px 0px 0px;float: left;}
.total11_1_3_2{width: 47%;height: 48%;margin: 0px 0px 0px 0px;float: left;}
.total11_1_3_3{width: 100%;height: 48%;margin: 0px 0px 0px 0px;float: left;}

.total11_1_4{width: 23%;height: 90%;margin: 50px 0px 0px 10px;float: left;}

.total12{width: 100%;height: 220px;background-color: #302e2c}
