
.total{
	width: 80%;
	height: 5990px;
	background-color: #f1eded ;
	margin: auto;
}
.top{
	width: 100%;
	height: 100px;
	background-color: #d6d6be33
}
.top ul{
	list-style: none;
	padding: 30px 0px 0px 180px
}
.top ul li{
	width: 100px;
	float: left;
	text-align: center;
	font-size: 18px;
	color: #c58441b8;
}
.top-bg{
	width: 100%;
	height: 350px;
	background-color: yellow;
	background-image: url(img/10334506213_f571b7dcf9_o-1700x450.jpg);background-size: cover;
}
.bg-nen{
	width: 100%;
	height: 250px;
	float: left;
}
.bg-bottom{
	width: 100%;
	height: 100px;
	float: left;
}
.bg-bottom-l{
	width: 35%;
	height: 100%
	;float: right;
}
.bg-bottom-l-1{
	width: 20%;
	height: 80%;
	float: left;
}
.bg-bottom-l-2{
	width: 80%;
	height: 72px;
	float: left;
	padding-top: 10px
}
.bg-bottom-ct{
	width: 30%;
	height: 100%;
	float: right;
}
.bg-bottom-ct-1{
	width: 20%;
	height: 80%;
	float: left;
}
.bg-bottom-ct-2{
	width: 80%;
	height: 72px;
	float: left;
	padding-top: 10px
}
.bg-bottom-r{
	width: 30%;
	height: 100%;
	float: right;
}
.bg-bottom-r-1{
	width: 20%;
	height: 80%;
	float: left;
}
.bg-bottom-r-2{
	width: 80%;
	height: 72px;
	float: left;
	padding-top: 10px
}
.total-anh{
	width: 100%;
	height: 480px;
}
.total-anh-1{
	width: 29%;
	height: 90%;
	float: right;
	margin:30px 65px 0px 10px;
	background-color: white
}
.total-anh-2{
	width: 28%;
	height: 90%;
	float: right;
	margin:30px 10px 0px 10px;
	background-color: white
}
.total-anh-3{
	width: 28%;
	height: 90%;
	float: right;
	margin:30px 10px 0px 10px;
	background-color: white
}
.bg{
	width: 100%;
	height: 350px;
}
.bg-center{
	width: 946px;
	height: 100%;
	margin: 10px 50px 10px 56px;
	background: url(img/quytoc.jpg); background-size: cover;
}
.bg-qc{
	width: 100%;
	height: 1210px;
}
.bg-qc-center{
	width: 946px;
	height: 100%;
	margin:20px 50px 10px 56px;
}
.bg-qc-left{
	width: 25%;
	height: 100%;
	float: left;
}
.bg-qc-left-1{
	width: 100%;
	height: 70px;
}
.bg-qc-left-1-1{
	width: 20%;
	height: 100%;
	float: left;
}
.bg-qc-left-1-2{
	width: 80%;
	height: 100%;
	float: left;
}
.tbg-qc-left-2{
	width: 100%;
	height: 70px;
}
.bg-qc-left-2-1{
	width: 20%;
	height: 100%;
	float: left;
}
.bg-qc-left-2-2{
	width: 80%;
	height: 100%;
	float: left;
}
.bg-qc-left-3{
	width: 100%;
	height: 70px;
}
.bg-qc-left-3-1{
	width: 20%;
	height: 100%;
	float: left;
}
.bg-qc-left-3-2{
	width: 80%;
	height: 100%;
	float: left;
}
.bg-qc-left-4{
	width: 100%;
	height: 70px;
}
.bg-qc-left-4-1{
	width: 20%;
	height: 100%;
	float: left;
}
.bg-qc-left-4-2{
	width: 80%;
	height: 100%;
	float: left;
}
.tbg-qc-left-5{
	width: 100%;
	height: 120px;
}
.bg-qc-left-5-1{
	width: 20%;
	height: 70%;
	float: left;
}
.bg-qc-left-5-2{
	width: 80%;
	height: 70%;
	float: left;
}
.bg-qc-left-6{
	width: 100%;
	height: 700px;
}
.bg-qc-bottom-1{
	width: 100%;
	height: 93%; 
	background-color: white
}
.bg-qc-bottom-1-1{
	width: 100%;
	height: 370px;
	float: left;
}
.bg-qc-bottom-1-1-1{
	width: 100%;
	height: 170px;
	float: left;
}
.bg-qc-bottom-1-1-2{
	width: 100%;
	height: 200px;
	float: left;
}
.bg-qc-cuoi{
	width: 85%;
	height: 230px;
	float: left;
	background-color: white;
	margin: -30px 15px 0px 15px;
}
.bg-qc-bottom-1-2{
	width: 100%;
	height: 100px;
	float: left;
}
.bg-qc-bottom-1-3{
	width: 100%;
	height: 100px;
	float: left;
}
.bg-qc-right-1{
	width: 75%;
	height: 97%;
	float: left;
}
.bg-qc-right-1-img{
	width: 95%;
	height: 28%;
	margin: 10px 0px 20px 20px;
}
.bg-qc-right-1-img-1{
	width: 60%;
	height: 100%;
	float: left;
}
.bg-qc-right-1-tt{
	width: 40%;
	height: 60%;
	float: left;
	margin: 60px 0px 20px -30px; 
	background-color: white;
}
.bg-qc-right-2-img{
	width: 95%;
	height: 29%; 
	margin: 10px 0px 20px 20px;
}
.bg-qc-right-2-img-1{
	width: 60%;
	height: 100%;
	float: left; 
}
.bg-qc-right-2-tt{
	width: 40%;
	height: 60%;
	float: left;
	margin: 60px 0px 20px -30px; 
	background-color: white;
}
.bg-qc-right-3-img{
	width: 95%;
	height: 29%;
	margin: 10px 0px 20px 20px;
}
.bg-qc-right-3-img-1{
	width: 60%;
	height: 100%;
	float: left; 
}
.bg-qc-right-3-tt{
	width: 40%;
	height: 60%;
	float: left;
	background-color: white;
	margin: 60px 0px 20px -30px;
}

.total-video{
	width: 100%; 
	height: 400px;
	background-color: #000000e6;
}
.div-video{
	width: 95%;
	height: 250px;
	margin: auto;
}
.div-video-1{
	width: 22%;
	height: 100%;
	margin: 0px 10px 0px 20px;
	float: left;
}
.div-video-2{
	width: 22%;
	height: 100%;
	margin: 0px 10px 0px 10px;
	float: left;
}
.div-video-3{
	width: 23%;
	height: 100%;
	margin: 0px 10px 0px 10px;
	float: left;
}
.div-video-4{
	width: 22%;
	height: 100%;
	margin: 0px 10px 0px 10px;
	float: left;
}

.div-bang-gia{
	width: 100%;
	height: 600px;
}
.bg-sanpham-1{
	width: 26%;
	height: 490px; 
	float: left;
	background-color: white;
	margin: 70px 23px 0px 60px;
}
.bg-sanpham-1-1{
	width: 90%;
	height: 40px;
	margin: auto;
}
.bg-sanpham-1-2{
	width: 90%;
	height: 130px;
	margin: auto;
}
.bg-sanpham-1-3{
	width: 90%;
	height: 250px; 
	margin: auto;
}
.bg-sanpham-2{
	width: 27%;
	height: 550px;
	float: left;
	background-color: white;
	margin: 40px 13px 0px 20px;
}
.bg-sanpham-2-1{
	width: 90%;
	height: 50px;
	margin: auto;
}
.bg-sanpham-2-2{
	width: 90%;
	height: 130px;
	margin: auto;
}
.bg-sanpham-2-3{
	width: 90%;
	height: 250px;
	margin: auto;
}
.bg-sanpham-3{
	width: 27%;
	height: 490px;
	float: left;
	background-color: white;
	margin: 70px 10px 0px 30px;
}
.bg-sanpham-3-1{
	width: 90%;
	height: 40px;
	margin: auto;
}
.bg-sanpham-3-2{
	width: 90%;
	height: 130px; 
	margin: auto;
}
.bg-sanpham-3-3{
	width: 90%;
	height: 250px; 
	margin: auto;
}

.sanpham{
	width: 100%;
	height: 650px;
}
.sp-center{
	width: 88%;
	height: 650px;
	margin: 0px 60px 0px 58px;
}
.info-sp{width: 25%;
	height: 90%;
	float: left;
	margin: 30px 10px 10px 0px;
}
.sp-right{
	width: 72.5%;
	height: 90%;
	float: left;
	margin:30px 0px 0px 10px;
}
.div-sp-right-1{
	width: 100%;
	height: 300px;
	float: left;
}
.div-sp-right-1-1{
	width: 31%;
	height: 250px;
	float: left;
	margin: 0px 10px 10px 0px;
}
.div-sp-right-1-2{
	width: 31%;
	height: 265px;
	float: left;
	margin: 0px 10px 10px 10px;
}
.div-sp-right-1-3{
	width: 31%;
	height: 250px;
	float: left;
	margin: 0px 0px 10px 10px;
}
.div-sp-right-2{
	width: 100%;
	height: 300px;
	float: left;
}
.div-sp-right-2-1{
	width: 31%;
	height: 300px;
	float: left;
	margin: 0px 10px 10px 0px;
}
.div-sp-right-2-2{
	width: 31%;
	height: 300px;
	float: left;
	margin: 0px 10px 10px 10px;
}
.div-sp-right-2-3{
	width: 31%;
	height: 300px;
	float: left;
	margin: 0px 0px 10px 10px;
}

.info-jonny{
	width: 100%;
	height: 450px;
}
.info-jonny-1{
	width: 87%;
	height: 100%;
	margin: 0px 58px 0px 58px;
	border: 1px solid #b37e1ddb;
}
.info-jonny-2{
	width: 100px;
	height: 100px;
	margin: auto;
	background-image: url(img/team-8-100x100.jpg);
	border-radius: 50%;
}

.total10{
	width: 100%;
	height: 650px;
}
.title{
	width: 87%;
	height: 100%;
	margin: 0px 58px 0px 58px;
}
.nhan-vien{
	width: 100%;
	height: 500px;
}
.nhan-vien-1{
	width: 22%;
	height: 90%; 
	float: left;
	margin: 20px 20px 0px 10px;
	background-color: white;
}
.nhan-vien-2{
	width: 22%;
	height: 90%; 
	float: left;
	margin: 20px 20px 0px 10px;
	background-color: white;
}
.nhan-vien-3{
	width: 22%;
	height: 90%; 
	float: left;
	margin: 20px 20px 0px 10px;
	background-color: white;
}
.nhan-vien-4{
	width: 23%;
	height: 90%; 
	float: left;
	margin: 20px 0px 0px 10px;
	background-color: white;
}

.total11{
	width: 100%;
	height: 500px;
	background-color: black;
}
.total11-center{
	width: 87%;
	height: 100%;
	margin: 0px 58px 0px 58px;
}
.tin-noi-bat{
	width: 22%;
	height: 90%;
	margin: 50px 20px 0px 10px;
	float: left;
}
.tin-noi-bat-1{
	width: 47%;
	height: 48%;
	margin: 0px 10px 0px 0px;
	float: left;
}
.tin-noi-bat-2{
	width: 47%;
	height: 48%;
	margin: 0px 0px 0px 0px;
	float: left;
}
.tin-noi-bat-3{
	width: 47%;
	height: 48%;
	margin: 0px 10px 0px 0px;
	float: left;
}
.tin-noi-bat-4{
	width: 47%;
	height: 48%;
	margin: 0px 0px 0px 0px;
	float: left;
}

.menu{
	width: 22%;
	height: 90%;margin: 50px 20px 0px 10px;
	float: left;
}
.menu-con{
	width: 47%;
	height: 48%;
	margin: 0px 10px 0px 0px;
	float: left;
}
.menu-con-hr{
	width: 47%;
	height: 48%;
	margin: 0px 0px 0px 0px;
	float: left;
}
.menu-con-bg{
	width: 100%;
	height: 48%;
	margin: 0px 0px 0px 0px;
	float: left;
}

.nv-email{
	width: 22%;
	height: 90%;
	margin: 50px 20px 0px 10px;
	float: left;
}
.nv-1{
	width: 47%;
	height: 48%;
	margin: 0px 10px 0px 0px;
	float: left;
}
.nv-2{
	width: 47%;
	height: 48%;
	margin: 0px 0px 0px 0px;
	float: left;
}
.email{
	width: 100%;
	height: 48%;
	margin: 0px 0px 0px 0px;
	float: left;
}

.search{
	width: 23%;
	height: 90%;
	margin: 50px 0px 0px 10px;
	float: left;
}

.total12{
	width: 100%;
	height: 220px;
	background-color: #302e2c;
}
